/******BODY HTML********/
html,
body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    background-image: url("images/bg-images/img0.jpg");
    background-size: 100vw auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    font-family: 'Rubik';
    padding: 0px;
}
/******BOX STYLES********/
.box {
    border-radius: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255, 0.75);
    color: #000000;
    transition: background-color 1s, margin 0.5s, padding-right 0.5s;
}

.box:hover {
    background-color: rgb(255, 255, 255, 0.9);
    margin-left: calc(10vw - 5px);
    margin-right: calc(10vw - 5px);
    padding-right: 30px;
}

.box p {
    text-indent: 32px;
}
/******CANVAS STYLES********/
#myCanvas {
    display: block; 
    margin: 0 auto 0 auto; 
    border-radius: 3px;
    outline: none;
}
/******GENERAL STYLES********/
.center {
    text-align: center;
}

.noTextDecoration {
    text-decoration: none;
}

.LinkDesign,
.LinkDesign:link {
    color: orange;
    text-decoration: underline;
}

.LinkDesign:visited {
    color: green;
}

.LinkDesign:hover {
    color: red;
}

/******HEADER STYLES********/
header {
    display: inline-flexbox;
    background-color: #191919;
    padding: 10px;
    margin: 0px;
    align-items: center;
}

.navSection {
    vertical-align: top;
    display: inline-flex;
    /*align-items: center;*/
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid rgb(0, 0, 0, 0);
    border-radius: 10px;
    align-items: center;
    height: 5vh;
    background: #191919;
    transition: border 2s;
}

.navSection:hover {
    cursor: pointer;
    background: linear-gradient(45deg, #ffbb00, #15ff00);
    border: 3px solid #00ffcc;
    transition: border 0.5s;
}

#navImg {
    width: 4vh;
    padding-right: 10px;
}

.navText {
    font-size: 24px;
    color: #dbdbdb;
    font-weight: bold;
}

/******FOOTER STYLES********/
footer {
    background-color: #191919;
    text-align: center;
    padding: 10px;
    vertical-align: bottom;
    height: 135px;
}

.footerImage {
    width: 30px;
    padding: 10px;
}