html, body {
  margin: 0;
  padding: 0;
}
.mainbody {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Rubik';
    padding: 0px;
}
.main {
    padding: 20px;
}
.center {
    text-align: center;
}
header {
    background-color: #00ff37;
    padding: 10px;
    margin: 0px;
}
.head {
    font-size: 50px;
    text-align: center;
    color: #000000;
    padding: 10px;
    margin-top: 0px;
}
footer {
    background-color: #191919;
    text-align: center;
    padding: 10px;
}
footer img {
    padding: 10px;
}